.container {
  padding: 0 10px;
  width: 300px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: 1px solid #ab487d;
  border-radius: 12px;
  background-color: #44366e;
  color: #dcdcdc;
  font-size: 18px;
  z-index: 10;
}

.text {
  font-weight: 500;
}

.icon {
  cursor: pointer;
  width: 15px;
  height: 15px;

  &--is_open {
    transforn: rotate(180deg)
  }
}